# Game Integrator environment
ENV=development

# Wallet Service Configuration
WALLET_API_KEY=secret-key

# Database Configuration
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=gameintegrator
DB_SSL_MODE=disable

# Server Configuration
SERVER_PORT=8080